<template>
	<div class="form-group">
		<label for="perg002">{{ label }}</label>

		<div class="form-inline">
			<div v-for="option in options" class="checkbox checkbox-warning">
				<input v-bind:id="option" type="checkbox">
				<label v-bind:for="option">
					{{ option }}
				</label>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: [
		"label",
		"options"
	]
}
</script>

<style scoped>
.checkbox {
	margin: 10px;
}
</style>
