<template>
    <header class="jumbotron bg-primary">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<img src="../assets/logo.png" class="logo">
					</div>
					<div class="col-md-8">
						<h4>Pesquisa de Satisfação</h4>
						<h5>Bem Vindo(a) {{ cliente }}!</h5>
					</div>
				</div>
			</div>
	</header>
</template>

<script>
export default {
	props: [
		'cliente'
	]
}
</script>


<style scoped>
	.jumbotron {
		border-radius: 0px;
		color: #FFF;
	}
	.logo {
		float: right;
		width: 200px;
		max-width: 100%;
	}

	@media screen and (max-width: 440px) {
		.row  {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.row > div {
			margin: auto;
		}
	}
</style>