<template>
	<div class="form-group">
		<label for="perg004">{{ label }}</label>
		<div class="form-inline">
			<div class="radio radio-warning" v-for="option in options">
				<input v-bind:id="option" type="radio" name="classificacao" v-bind:value="option">
				<label v-bind:for="option">{{ option }}</label>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: [
		"label",
		"options"
	]
}
</script>

<style scoped>
.radio {
	margin: 10px;
}
</style>
