<template>
   <div class="form-group">
			<label for="perg002">{{ label }}</label>
			<select class="form-control" id="perg002">
			      <option v-for="option in options">{{ option }}</option>
			</select>
		</div>
</template>

<script>
export default {
	props: [
		'label',
		'options'
	]
}
</script>
