<template>
   <div class="form-group">
		<label for="perg001">{{ label }}</label>
		<textarea class="form-control" id="perg001" v-bind:placeholder="label"></textarea>
	</div>
</template>

<script>
export default {
	props: [
		'label'
	]
}
</script>