<template>
  <div id="app">
    <page-header v-bind:cliente="cliente"></page-header>
    <section class="container">
      <div v-for="pergunta in perguntas">
        <text-input v-bind:label="pergunta.label" v-if="pergunta.tipo == 'Text'"></text-input>
        <select-input v-bind:label="pergunta.label" v-bind:options="pergunta.options" v-if="pergunta.tipo == 'Select'"></select-input>
        <check-box-input v-bind:label="pergunta.label" v-bind:options="pergunta.options" v-if="pergunta.tipo == 'CheckBox'"></check-box-input>
        <radio-input v-bind:label="pergunta.label" v-bind:options="pergunta.options" v-if="pergunta.tipo == 'Radio'"></radio-input>
        <text-area-input v-bind:label="pergunta.label" v-bind:options="pergunta.options" v-if="pergunta.tipo == 'TextArea'"></text-area-input>
      </div>
      <button-input></button-input>
    </section>
  </div>
</template>
    
<script>
import PageHeader from './components/PageHeader'
import TextInput from './components/TextInput'
import SelectInput from './components/SelectInput'
import CheckBoxInput from './components/CheckBoxInput'
import RadioInput from './components/RadioInput'
import ButtonInput from './components/ButtonInput'
import TextAreaInput from './components/TextAreaInput'

export default {
  name: 'app',
  components: {
    PageHeader,
    TextInput,
    SelectInput,
    CheckBoxInput,
    RadioInput,
    ButtonInput,
    TextAreaInput
  },
  data() {
    return {
      cliente: "",
      perguntas: []
    }
  },
  mounted() {
    this.$http.get('http://localhost:3000/api').then(response => {
      this.cliente = response.body.cliente;
      this.perguntas = response.body.perguntas;
    }, response => {
      console.log(response);
    });
  }
}
</script>

<style>
.bg-primary {
		background-color: #ffc067 !important;
	}
</style>